/*--------------------------------------------------------------
  # Dark Mode
--------------------------------------------------------------*/
:root {
    --dark-theme-bg-color: #1b1f22;
    --dark-theme-dark-color: #212529;
    --dark-theme-white-color: #dee2e6;
}
[data-bs-theme=dark] {
    .main {
        background-color: var(--dark-theme-bg-color);
        color: var(--dark-theme-white-color);
    }
    .nav-content.collapse i,
    .nav-content.collapse span,
    h1, h2, h3, h4, h5, h6, p, label, th, td {
        color: var(--dark-theme-white-color);
    }
    .logo span,
    .toggle-sidebar-btn,
    .form-select, .dropdown-item,
    .dropdown-toggle,
    input, textarea {
        color: var(--dark-theme-white-color)!important;
    }
    .dropdown-item.active {
        color: #FFFFFF!important;
    }
    .dropdown-menu-arrow::before {
        background: var(--dark-theme-dark-color);
        border-top: 1px solid var(--dark-theme-dark-color);
        border-left: 1px solid var(--dark-theme-dark-color);
    }
    .header {
        box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, .3);
    }
    .dropdown-menu {
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .3)!important;
    }
    .card, .sidebar, .dropdown-menu {
        box-shadow: none;
    }
    .header, .sidebar,
    .sidebar-nav .nav-link.collapsed,
    .sidebar-nav .nav-link.collapsed i {
        background-color: var(--dark-theme-dark-color);
    }
    .sidebar-nav .nav-content a,
    .sidebar-nav .nav-link.collapsed span {
        color: var(--dark-theme-white-color)!important;
    }
    .sidebar-nav .nav-link:hover {
        background-color: var(--dark-theme-bg-color);
    }
    .sidebar-nav .nav-link span,
    .sidebar-nav .nav-link:hover span,
    .sidebar-nav .nav-content a.active > i,
    .sidebar-nav .nav-content a:hover i,
    .sidebar-nav .nav-content a:hover span,
    .sidebar-nav .nav-content a.active span {
        color: var(--main-color)!important;
    }
    .sidebar-nav .nav-link,
    .sidebar-nav .nav-link i,
    .sidebar-nav .nav-link:hover i,
    .sidebar-nav .nav-link:hover,
    .sidebar-nav .nav-content a:hover, 
    .sidebar-nav .nav-content a.active,
    .sidebar-nav .nav-content a.active i {
        color: var(--main-color);
        background-color: var(--dark-theme-bg-color);
    }
    img#eye_oldpass,
    img#eye_password,
    img#eye_passconf {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
    }
}

/*--------------------------------------------------------------
  # Animasi Ombak Dashboard
--------------------------------------------------------------*/
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/*--------------------------------------------------------------
  # Semua
--------------------------------------------------------------*/
body {
    color: var(--dark-color);
}
#main {
    padding: 0px 20px;
}
.logo img {
    max-height: unset;
    height: 40px;
}
.card-body {
    padding-top:1rem!important;
    padding-bottom:1rem!important;
}
.modal-body table tr td {
    padding: 3px 2px;
    border: none!important;
    white-space: normal!important;
    vertical-align: text-top;
}

.header-nav .nav-profile span,
.header-nav .profile .dropdown-item {
    font-size: 15px;
}

.toggle-sidebar-btn {
    font-size: 24px!important;
    color:var(--dark-color)!important;
}
.toggle-sidebar-btn:hover {
    color:var(--main-color)!important;
}

hr { opacity: .25; }

/*--------------------------------------------------------------
  # Sidebar
--------------------------------------------------------------*/
.sidebar-nav .nav-link,
.sidebar-nav .nav-content span {
    font-weight: 500;
}
.sidebar-nav .nav-item {
    margin-bottom: 2px;
}
.sidebar-nav .nav-content {
    padding-top: 2px;
}
.sidebar-nav .nav-heading {
    color:var(--gray-color);
}
.sidebar-nav .nav-link.collapsed,
.sidebar-nav .nav-link.collapsed i {
    background-color: #FFFFFF;
    color: var(--gray-color);
}
.sidebar-nav .nav-content a,
.sidebar-nav .nav-link.collapsed span {
    color: var(--dark-color);
}
.sidebar-nav .nav-link:hover {
    background-color: #f1f3f4;
}
.sidebar-nav .nav-link:hover span {
    color: var(--main-color);
}
.sidebar-nav .nav-link,
.sidebar-nav .nav-link i,
.sidebar-nav .nav-link:hover i,
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active,
.sidebar-nav .nav-content a.active i {
    color: var(--main-color);
    background-color: #f1f3f4;
}
.sidebar-nav .nav-link:not(.collapsed) .fa-angle-down {
    transform: rotate(180deg);
}
.sidebar-nav .nav-link .fa-angle-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.form-control, .form-select, .dropdown-item {
    color: var(--dark-color);
    font-size: 1rem;
}
.form-control, .form-select, .dropdown-item:focus {
    color: var(--dark-color)!important;
}
.dropdown-item {
    font-size: unset!important;
}
.dropdown-item:active {
    color: #FFFFFF!important;
    background-color: var(--main-color)!important;
}
.dropdown-item:hover {
    color: #FFFFFF!important;
    background-color: var(--main-color)!important;
}

/*--------------------------------------------------------------
  # Datatables
--------------------------------------------------------------*/
.dataTables_wrapper input:focus,
.dataTables_wrapper select:focus {
    border-color: var(--main-color);
    box-shadow: var(--box-shadow-form-input);
    outline: 0;
}
[data-bs-theme=dark] {
    .dataTables_info {
        color: var(--dark-theme-white-color);
    }
    .dt-button.buttons-excel.buttons-html5,
    .dt-button.buttons-collection.buttons-colvis,
    .dataTables_wrapper .dataTables_paginate .paginate_button,
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: var(--dark-theme-white-color)!important;
    }
    .dataTables_wrapper .dataTables_length select {
        background: var(--dark-theme-bg-color);
        color: var(--gray-color);
    }
    .dt-button-collection,
    .dt-button.buttons-columnVisibility.active {
        background: var(--dark-theme-bg-color)!important;
        color: var(--dark-theme-white-color);
    }
    .dt-button.buttons-columnVisibility {
        background: var(--dark-theme-dark-color)!important;
        color: var(--dark-theme-white-color);
    }
    .dataTables_wrapper .dataTables_paginate .ellipsis {
        color: var(--dark-theme-white-color);
    }
}

/*--------------------------------------------------------------
  # Summernote
--------------------------------------------------------------*/
.note-editor.note-airframe, .note-editor.note-frame {
    border-radius: 0.375rem;
}
.note-toolbar {
    border-top-left-radius: 0.375rem!important;
    border-top-right-radius: 0.375rem!important;
}
.note-statusbar {    
    border-bottom-left-radius: 0.375rem!important;
    border-bottom-right-radius: 0.375rem!important;
}
.note-editing-area span {
    font-size:1rem!important;
}
.summernote.is-invalid + .note-editor.note-frame {
    border-color: var(--bs-form-invalid-border-color);
}
[data-bs-theme=dark] {
    .note-editor .note-toolbar, .note-popover .popover-content {
        background-color: #2b2f32;
        border-color: var(--dark-theme-bg-color);
    }
    .note-btn-group>.note-btn-group:not(:last-child)>.note-btn, .note-btn-group>.note-btn:not(:last-child):not(.dropdown-toggle),
    .note-btn-group>.note-btn-group:not(:first-child)>.note-btn, .note-btn-group>.note-btn:not(:first-child) {
        color: var(--dark-theme-dark-color)!important;
    }
}
